#container {
    width: 100%;
    height: 100%;
}

.gameImage {
    position: absolute;
    display: flex;
    justify-content: center;
    float: left;
    left:50%;
    top: 30%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 50%;
    height: 50%;
}

.imageBox {
    width: 500px;
    height: 500px;
    position: relative;
}

.imageBox:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    border:solid 1px;
}


#inputLabels {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: auto;
    display: flex;
    justify-content: center;
}

img {
    border: 0;
    outline: 0;
    outline-color: beige;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 5%;
}



.inputLabel {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    padding: 2% 2% 2% 2%;
    border: solid 1px #07070700;
    background-color: #09719f;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: CascadiaCode;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin: 2%;
}

a {
    text-decoration: none;
}


#firstLabel {
    background-color:#006b99;
}
#secondLabel {
    background-color: rgb(0, 156, 104);
}


#submit {
    position: absolute;
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}











